body{
background-image:url('fon.jpg');
	
}
.rita{
color:#00BFFF;
}
.rita:hover {
	color:white;
}
.real {
background-image:url('10.jpeg');	
margin-right:10px;
}

div{ margin:10px;
}
 head{ 
 
 margin:100px;
	 
 }
 nav{
 align:center-left;
 }
 pre{
 margin:0;	 
 margin-left:0%;	 
 color:#FAEBD7;
 font-size:17px;
 font-family:Arial;
 }
 h1{ 
 font-family:Comic Sans MS;
 }
 .foremail{
 color:white;
 }

p.style{	
margin-top:0%;
width:100%;
background-color:;
 color:#FFD700;
text-align:center;
font-size:25px;
font-weight:30px;
font-family:fantasy;	
	
}

h1.style{
margin-top:0%;
width:100%;
background-color:black;
 color:#FFFAFA;
text-align:center;
font-size:50px;
font-weight:30px;
font-family:fantasy;	

}
.style{
margin-top:1.5%;
width:100%;
 color:#FFFAFA;
text-align:center;
font-size:50px;
font-weight:30px;
font-family:fantasy;	

}


.rita:active {
	color:yellow;
}
	
header{
	width:100%;
	background-color:green;
	padding:40px;
	border-bottom:2px solid silver;
float:left;
	}

article,aside{
	
	background-color:#fafafa;
	height:400px;
	float:left;
}

article{
	background-color:red;
	width:60%;
}

aside{
background-color:yellow;
width:25%;
}
footer{
width:100%;
	background-color:purple;
	
	padding:20px;
	
}
.per{
	color:#696969;
	
}
.ema{
color:#00FA9A;
font-size:18px;
font-family:Comic Sans MS;
}
.div{
position:fixed;
background:#222;
top:0px;
left:0px;
width:150px;
height:100%;
text-align:center;


}


.foremail{
	color:#FFFFFF ;
}
h2:hover{
color:#FF4500;	}	
 
h1:hover{
color:#FFD700; 	
}
.skily{
	color:#800000;
}
.skily:hover{
color:#00FFFF;
}
.container{
width:100%;
background-color:#b2b2b2;
}
.skills{
text-align:right;
padding-right:20px;
line-height:30px;
color:white;		
background-color:#424242;
}
.figma{
width:19%;
}
.html{
width:64%;
}
.js{
width:2%;
}
.css{
width:55%;
}
.github{
width:26%;
}



.gallery{
    width:100%;
    height:100vh;
    display:block;
	margin:0px;
	color:white;
}

.gallery-row{
    display:block;
    width:100%;
    height:50%;
    text-align: center;
}

.img-container{
	margin:0;
    width:32.8%;
    display:inline-block;
    height:70vh;
   border:2px;
	}


.img-container img{
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;

	}
h4{
color:#00CED1;	
font-size:50px;
text-align:center;
}
h4:hover{
color:#FF00FF;
}
body{
margin:0;
}

video {
margin:0; 
 transform:rotate(270deg);
}